<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">
    <uses-permission android:name="android.permission.CAMERA" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:screenOrientation="sensorPortrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".OnboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Project.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".PictureGalleryActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".LinksActivity"
            android:exported="true"
            android:parentActivityName=".PictureGalleryActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>